.skills {
  margin-top: 3rem;
  /* margin-bottom: 2.5rem;
  margin-left: 10%;
  margin-right: 10%; */
}

.skills > h2 {
  padding-top: 3rem;
  margin-bottom: 4rem;
  margin-left: 10%;
}

.top__icon {
  width: 100px;
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 50px;
}
