.contact {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  margin-left: 10%;
  margin-right: 10%;
  /* width: 400px; */
}

.contact__title {
  padding-top: 3rem;
  margin-top: 0;
  font-size: 1.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 4rem;
}

.contact__form {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  /* align-items: flex-start; */
}

.contact__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__top h2 {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 50px;
}

.contact__top p {
  margin-bottom: 60px;
  color: #718096;
}

/* .contact__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact__bottom img {
  height: 250px;
  margin-right: 200px;
} */

.contact__form h3 {
  font-weight: 500;
  font-size: 30px;
  color: #718096;
}

.form__tag {
  margin-top: 1rem;
}

.form__input {
  width: 100%;
  height: 35px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

.form__input:focus {
  border: 2px solid rgb(83, 200, 196);
}

.form__textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  resize: none;
}

.form__textarea:focus {
  border: 2px solid rgb(83, 200, 196);
}

.form__btn {
  margin-top: 2rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(83, 200, 196);
  color: white;
  border: none;
  font-size: 1rem;
}

.form__btn:hover {
  background-color: rgb(69, 178, 174);
}

@media screen and (max-width: 900px) {
  .contact {
    width: 300px;
  }

  .contact__form {
    width: 100%;
  }
}
